<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="60" fxFlex.lt-md="90" style="margin: 24px 8px 24px 8px">
    <h1 class="mat-h1">Anleitung: Aufgaben</h1>
    <p class="mat-body-1">
        Im Folgenden müssen Sie vier Aufgaben bearbeiten. Zwei davon sind zeitlich begrenzt (Countdown) und zwei nicht. 
        Diese Aufgaben beziehen sich auf Dokumente aus Ihrer vorhin selbsterstellten Ordnerstruktur. 
        Diese wird links angezeigt. 
        Zum Einen können Sie durch ihre Ordnerstruktur navigieren und zum Anderen haben Sie rechts die Möglichkeit die Dokumente (Volltextsuche) zu durchsuchen. 
        Wiederum können Sie sich den Inhalt der Dokumente durch Klick auf Dokument im Baum oder in den Suchergebnissen anzeigen lassen.
        Tragen Sie Ihre Antwort in das Feld rechts oben ein. <br>Bei Eingabe der richtigen Antwort werden Sie zur nächsten Aufgabe weitergeleitet.         
    </p>
    <div fxLayout="column" fxLayoutAlign=" center">
      <button mat-raised-button (click)="onStart()" color="primary">Weiter</button>
    </div>
  </mat-card>
</div>