<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="60" fxFlex.lt-md="90" style="margin: 24px 8px 24px 8px">
    <h1 class="mat-h1">Anleitung: Daten Sortieren</h1>
    <p class="mat-body-1">
        Auf der nächsten Seite sehen Sie zwei Ordner. Links einen Ordner der 50 Textdokumente enthält. Rechts einen leeren Ordner. Ziel ist es, dass Sie die Dokumente von links in eine selbsterstellte Ordnerstruktur rechts einsortieren, wie Sie es auf ihrem persönlichen Gerät auch tun würden. 
        Befassen Sie sich hierzu auch mit den Dateiinhalten, um eine sinnvolle Ordnerstruktur zu erstellen. Anschließend sollten Sie dazu in der Lage sein, die Dateien wiederzufinden.
        Um fortzufahren müssen alle Dokumente einsortiert werden.  
    </p>
    <h3 class="mat-h3">Bedienung</h3>
    <ul>
      <li>Dateitext anzeigen: Dokument anklicken</li>
      <li>Rechtsklick auf Ordner (zu Beginn “Mein Ordner”): Neue Unterordner erstellen</li>
      <li>Umbennen/Löschen von Ordnern: Rechtsklick auf Ordner</li>
      <li>Dateien einsortieren: Ziehen von links auf Zielordner</li>
      <li>Ausklappen von Ordnern: Klick auf den Dreiecks-Icon</li>
    </ul>
    <div fxLayout="column" fxLayoutAlign=" center">
      <button mat-raised-button (click)="onStart()" color="primary">Weiter</button>
    </div>
  </mat-card>
</div>