<div style="padding: 12px 12px 12px 12px" class="max-height">
  <div fxFlex fxLayout="column" fxLayoutAlign="start center">
    <mat-card class="mat-elevation-z8" style="width:100%" fxFlex="100px" fxLayout="row" fxLayoutAlign="space-between start">
      <div fxLayout="column" fxFlex="200px%" fxLayoutAlign="start stretch">
        <h3 class="mat-h3" style="margin-bottom:0">{{ TaskTitle }}</h3>
        <p class="mat-body-1" style="margin-top:0">
          {{ TaskText }}
        </p>
      </div>
      <h1 fxFlexAlign="center" class="mat-h1" [hidden]="!TimePressure" style="color:#f44336">{{ TimeLimit }}</h1>
      <form (keydown.enter)="onAnswer()" [formGroup]="answerForm">
        <mat-form-field appearance="outline">
          <mat-label>Antwort</mat-label>
          <input matInput formControlName="answerBox" placeholder="Antwort (Enter-Taste)" autocomplete="off">
          <mat-icon matSuffix>text_format</mat-icon>
        </mat-form-field>
      </form>
    </mat-card>
    <div fxLayout="row" fxFlex fxLayoutAlign="center stretch" style="padding-top:16px; width:100%">
      <mat-card fxLayout="column" fxLayoutAlign="start start" class="mat-elevation-z4" fxFlex style="margin-right:12px">
        <div style="overflow:auto;width:100%;" fxFlex>
          <tree style="height:100%" [tree]="initialTree" (nodeSelected)="onNodeSelected($event)" (nodeExpanded)="onNodeExpanded($event)"
            (nodeCollapsed)="onNodeCollapsed($event)"></tree>
        </div>
      </mat-card>
      <mat-card class="mat-elevation-z4" fxFlex style="margin-left:12px" fxLayout="column" fxLayoutAlign="start stretch">
        <form (keydown.enter)="onSearch()" [formGroup]="searchForm">
          <mat-form-field appearance="outline" style="width:100%">
            <mat-label>Suchen ...</mat-label>
            <input matInput placeholder="Suchtext (Enter-Taste suchen)" formControlName="searchBox" autocomplete="off">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
        <div fxFlex style="overflow-y:auto; overflow-x: hidden;">
          <mat-chip-list>
            <mat-chip (click)="showDocumentFromSearch(result.id)" *ngFor="let result of searchResults">{{ result.title
              }}</mat-chip>
          </mat-chip-list>
        </div>
      </mat-card>
    </div>
  </div>
</div>