<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="60" fxFlex.lt-md="90" style="margin: 24px 8px 24px 8px">
    <h1 class="mat-h1">😄 Vielen Dank für deine Unterstützung! 😄</h1>
    <p class="mat-body-1">
      Wenn du an der Verlosung der 2 * 20€ Amazon Gutscheine teilnehmen möchtest, gebe deine E-Mail an und bestätige
      mit dem Knopf!
      <br><br>
      Zusätzlich können sich Studenten der Universität Regensburg eine Versuchsstunde anrechnenlassen. Hierzu bitte
      die Universitäts-E-Mail angeben und die Checkbox aktivieren.
      Die Formulare werden an einem per E-Mail bekanntgegebenen Ort und Zeit verteilt.
    </p>
    <div fxLayout="column" fxLayoutAlign=" center" style="margin-top: 16px">
      <form [formGroup]="signupForm" fxLayout="column" (submit)="send()">
        <mat-form-field>
          <input matInput placeholder="E-Mail" formControlName="email" required>
          <mat-error *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').hasError('required')">
            Keine korrekte E-Mail Adresse
          </mat-error>
          <mat-error *ngIf="signupForm.get('email').hasError('required')">
            E-Mail ist <strong>notwending</strong>
          </mat-error>
        </mat-form-field>
        <mat-slide-toggle formControlName="ur_h">Versuchsstunden (UR)</mat-slide-toggle>
        <button [disabled]="!signupForm.valid" type="submit" mat-raised-button color="primary" style="margin-top: 16px">An
          Verlosung Teilnehmen</button>
      </form>
    </div>
  </mat-card>
</div>