<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="350px" fxFlex.lt-sm="85" style="margin: 24px 8px 24px 8px">
    <h1 class="mat-h1">Demografische Daten</h1>
    <form [formGroup]="signupForm" fxLayout="column" (submit)="signup()">
      <mat-form-field>
        <mat-select formControlName="gender" placeholder="Geschlecht" required>
          <mat-option value="m">Männlich</mat-option>
          <mat-option value="f">Weiblich</mat-option>
          <mat-option value="n">Sonstiges</mat-option>
        </mat-select>
        <mat-error *ngIf="signupForm.get('gender').hasError('required')">
          Geschlecht ist <strong>notwending</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" formControlName="age" maxlength="3" placeholder="Alter" required>
        <mat-error *ngIf="signupForm.get('age').hasError('required')">
          Alter ist <strong>notwending</strong>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Beruf" formControlName="occupation">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Höchster Bildungsabschluss" formControlName="education">
      </mat-form-field>
      <button [disabled]="!signupForm.valid" type="submit" mat-raised-button color="primary" style="margin-top: 24px">Weiter</button>
    </form>
  </mat-card>
</div>