<div fxLayout="column" fxLayoutAlign="start start" class="max-height">
    <h1 class="mat-h1">{{ data.title }}</h1>
    <p class="mat-body-1" fxFlex style="overflow:auto;word-wrap: normal;white-space: pre-wrap;width:100%;">
        {{ data.text }}
    </p>
    <div style="width:100%" fxLayout="column" fxLayoutAlign="center center">
        <button [mat-dialog-close]="data.title" mat-raised-button color="primary" cdkFocusInitial>Schließen</button>
    </div>
</div>