<div fxLayout="column" fxLayoutAlign="start center" style="padding: 24px 24px 24px 24px" class="max-height">
  <div fxLayout="row" fxFlex fxLayoutAlign="center stretch" style="padding-bottom:24px; width: 85%">
    <mat-card fxLayout="column" fxLayoutAlign="start start" class="mat-elevation-z8" fxFlex style="margin-right:12px">
      <h1 class="mat-h1">Dokumente</h1>
      <div style="overflow:auto;width:100%;" fxFlex>
        <tree [tree]="initialTree" [settings]="settings" (nodeSelected)="onNodeSelected($event)"></tree>
      </div>
    </mat-card>
    <mat-card fxLayout="column" fxLayoutAlign="start start" class="mat-elevation-z8" fxFlex style="margin-left:12px">
      <h1 class="mat-h1">Ziel</h1>
      <div style="overflow:auto;width:100%;" fxFlex>
        <tree #treeDestination style="height:100%" [tree]="tree" (menuItemSelected)="onMenuItemSelected($event)"
          (nodeRemoved)="onNodeRemoved($event)" (nodeMoved)="onNodeMoved($event)" (nodeSelected)="onNodeSelected($event)"></tree>
      </div>
    </mat-card>
  </div>
  <button [disabled]="buttonStatus" (click)="onStart()" mat-raised-button color="primary">Fertig</button>
</div>