<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="60" fxFlex.lt-md="90" style="margin: 24px 8px 24px 8px">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <h1 class="mat-h1">{{ TaskTitle }} - Info</h1>
      <h1 [hidden]="!TimePressure" class="mat-h1" style="color:#f44336">Zeitlimit: {{ TimeLimit }}</h1>
    </div>
    <p class="mat-body-1">
      {{ TaskText }}
    </p>
    <div fxLayout="column" fxLayoutAlign=" center">
      <button mat-raised-button (click)="onStart()" color="primary">Start</button>
    </div>
  </mat-card>
</div>