<div fxLayout="row" fxLayoutAlign="center start">
  <mat-card class="mat-elevation-z8" fxFlex="60" fxFlex.lt-md="90" style="margin: 24px 8px 24px 8px">
    <h1 class="mat-h1">Umfrage Universität Regensburg - Informationsverhalten Verstehen</h1>
    <p class="mat-body-1">
        Herzlich willkommen zu einer Studie des Lehrstuhls für Informationswissenschaft an der Universität Regensburg.
        Am Ende der Studie können Probanden an einer Verlosung von 2 * 20€ Amazon Gutscheinen teilnehmen und zusätzlich eine Versuchspersonenstunde an der Universität Regensburg erhalten, falls diese benötigt wird.
        In dieser Studie wird das veränderte Verhalten beim Wiederfinden von Informationen unter Zeitdruck beobachtet. Die Studie beansprucht ca. 30 Minuten und erfolgt ausschließlich online. Ein Computer wird benötigt, die Website ist nicht optimiert für mobile.<br>
        <br>
        [Pflichttext]
    </p>
    <div fxLayout="column" fxLayoutAlign=" center">
      <button mat-raised-button (click)="onStart()" color="primary">Teilnehmen</button>
    </div>
  </mat-card>
</div>